<section fxFlex fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Create TimeSheet</mat-card-title>
      <mat-card-subtitle>Create a new weekly Timesheet</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onSubmit(f)" #f="ngForm" fxFlex fxLayout="column">
        <mat-form-field>
          <mat-label>Timesheet Name</mat-label>
          <input
            matInput
            type="text"
            name="tname"
            id="tname"
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Select a week for the timesheet</mat-label>
          <input
            matInput
            type="text"
            name="dateRange"
            id="dateRange"
            (rangeClicked)="rangeClicked($event)"
            ngxDaterangepickerMd
            [(ngModel)]="selected"
          >
        </mat-form-field>
        <button class="create-time-but" type="submit" mat-button color="primary" [disabled]="f.invalid">Create</button>
      </form>
    </mat-card-content>
  </mat-card>
</section>
