<!--<div class="example-container mat-elevation-z8 " #TABLE>-->
<!--  <mat-table [dataSource]="mainDatasource" #table>-->
<!--    <ng-container matColumnDef="date">-->
<!--      <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">{{ element.date}}</mat-cell>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="startTime">-->
<!--      <mat-header-cell *matHeaderCellDef>Start Time</mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">{{ element.startTime}}</mat-cell>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="taskDescription">-->
<!--      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">{{ element.taskDescription}}</mat-cell>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="endTime">-->
<!--      <mat-header-cell *matHeaderCellDef>End Time</mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">{{ element.endTime}}</mat-cell>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="hoursWorked">-->
<!--      <mat-header-cell *matHeaderCellDef>Hours</mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">{{ element.hoursWorked}}</mat-cell>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="edit">-->
<!--      <mat-header-cell *matHeaderCellDef>Edit </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">-->
<!--        <button mat-icon-button matTooltip="Click to Edit" (click)="editRecord(element)" class="iconbutton" color="primary">-->
<!--          <mat-icon aria-label="Edit">edit</mat-icon>-->
<!--        </button>-->
<!--      </mat-cell>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="delete">-->
<!--      <mat-header-cell *matHeaderCellDef>Delete </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">-->
<!--        <button mat-icon-button matTooltip="Click to Delete" (click)="deleteRecord(element)" class="iconbutton" color="primary">-->
<!--          <mat-icon aria-label="Edit">delete</mat-icon>-->
<!--        </button>-->
<!--      </mat-cell>-->
<!--    </ng-container>-->

<!--    <mat-header-row *matHeaderRowDef="mainColumns"></mat-header-row>-->
<!--    <mat-row *matRowDef="let row; columns: mainColumns"></mat-row>-->
<!--  </mat-table>-->
<!--</div>-->
<!--<br />-->
<!--<br />-->
<!--<br />-->
<!--<br />-->
<!--<mat-table [dataSource]="totalDatasource">-->
<!--  <ng-container matColumnDef="totalHours">-->
<!--    <mat-header-cell *matHeaderCellDef>Total Hours</mat-header-cell>-->
<!--    <mat-cell *matCellDef="let element">{{ element.totalHours}}</mat-cell>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="amount">-->
<!--    <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>-->
<!--    <mat-cell *matCellDef="let element">{{ element.amount}}</mat-cell>-->
<!--  </ng-container>-->

<!--  <mat-header-row *matHeaderRowDef="totalColumns"></mat-header-row>-->
<!--  <mat-row *matRowDef="let row; columns: totalColumns"></mat-row>-->
<!--</mat-table>-->
<!--<br />-->
<!--<div>-->
<!--  <button class="excel-export-but" mat-raised-button color="primary" (click)="exportAsExcel()">Export as Excel</button>-->
<!--  <button mat-raised-button color="warn" (click)="exportAsExcel()">Email to Admin</button>-->
<!--</div>-->
